
<div class="container-fluid">
    <h4>Top Designers</h4>
       <div class="main_cards">
           
            <div class="card" >
                <img class="card-img-top" src="https://cdn.tatlerasia.com/asiatatler/i/hk/2018/11/02185850-alexander-wang_cover_2000x1333.jpg" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="https://cdn.tatlerasia.com/asiatatler/i/hk/2018/11/02185850-alexander-wang_cover_2000x1333.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
             <div class="card" >
                <img class="card-img-top" src="https://cdn.tatlerasia.com/asiatatler/i/hk/2018/11/02185850-alexander-wang_cover_2000x1333.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="https://cdn.tatlerasia.com/asiatatler/i/hk/2018/11/02185850-alexander-wang_cover_2000x1333.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="https://cdn.tatlerasia.com/asiatatler/i/hk/2018/11/02185850-alexander-wang_cover_2000x1333.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
       </div>
            
        <div *ngFor="let item of Categories; index as i">
            <h4>{{i}} {{item}}</h4>
        </div>
           
            
        
        
            
       

   
</div>
