.navbar-brand{
    font-weight: bold;
    font-size: 25px;

}
h4{
    padding: 0px 20px;
    margin-top: 20px;
}
.main_cards{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 13px;
}
.card{
    width: 265px;
  
}